<h2>Sign up</h2>

<div style=" margin: 5%; margin-left: 20%;">
  
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
<div class="field">
  <div class="control" style="width: 50%;">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
  </div>
</div>

<div class="field">
  <div class="control" style="width: 50%;">
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
  </div>
</div>

<div class="field">
  <div class="control" style="width: 50%;">
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },
                input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
  </div>   
</div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "button is-primary" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>

</div>



