<% content_for :page_title %>

<section class="section">
	<div class="container" style="width: 60%;">
		<nav class="level">
			<div class="level-left">
				<span style="font-weight: bold; font-size: 30px;"><%= student.name %></span>
			</div>
		
			<div class="level-right">
				<p class="level-item">
					<%= link_to "Edit",edit_student_path(student),class: "button" %>

				</p>
				<p class="level-item">
					<%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: "Are you sure?"}, class: "button is-danger " %>
				</p>
			</div>
			

		</nav>
		<hr />
		<nav class="level">
			<div class="content" style="float: left;">
				<p><h5>Registration Number :</h5><%= student.registration_number %></p>
				<!-- <p><h5>Name :</h5><%= @student.name %></p> -->
				<p><h5>Branch :</h5><%= student.branch %></p>
			</div>

			<div class="content" style="float: right; margin: 2%; ">
				<% student.pictures.each do |image| %>
				<%= image_tag image.name, height: '200px', width: '200px' %>
				<% end %>
			</div>
		</nav>
		<hr />
		<nav class="level">
			<!-- <span style="font-weight: bold; font-size: 20px;">Associated Teachers</span> -->
			<div class="content"></div>
			<section class="section">
				<div class="container">
					<h5 class="subtitle is-4">Associated Teachers</h5>
					<h2 class="subtitle is-5">
						<strong><%= student.teachers.count %></strong> Teachers
					</h2>
					<%= render student.teachers, student: student%>
					
				</div>
			</section>
			
		</nav>
	</div>
	<section class="section" style="margin-left: 20%; margin-top: -5%;">
		<div class="container">
			Assing Teacher
			<%= render 'students/assign', student: student%>
		</div>
	</section>

</section>









